-var className=filter.active ? 'filter_' + postfix + '--active ' : ''
-className = postfix ? className + 'filter_' + postfix:className
div.filter(data-filter=filter.value class=className ? className : false)
    span.filter__title(class=postfix ? 'filter_title_' + postfix:false)=filter.title