.filters_block {
  display: flex;
}

.filter {
  cursor: pointer;
}

.filter_favorite_dv {
  padding: 6px 14px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-color: $background;
  border-radius: 20px;
}

.filter_title_favorite_dv {
  font-size: 13px;
  font-weight: bold;
}


@include for-tablet-landscape-up {

  .filters_block_favorite_dv {
    flex-direction: row;
  }

  .filter_favorite_dv {
    margin-right: 10px;
  }

  .filter_favorite_dv:first-of-type {
    margin-left: 13px;
  }
}

@include for-custom-width-from-to(0, $tabletLandscapeUp) {

  .filter_favorite_dv:not(.filter_favorite_dv--active) {
    display: none;
    box-shadow: $defaultBoxShadow;
  }

  .filter_favorite_dv--open {
    display: flex !important;
  }

  .filter_favorite_dv  {
    display: flex;
    box-shadow: none;

  }

  .filter_favorite_dv--active {
    order: 1;
    opacity: 1;
    &::after {
      transform: rotate(90deg);
      content: '';
      width: 14px;
      margin-left: 7px;
      height: 14px;
      position: relative;
      top: 2px;
      @include background('arrow_left')
    }
  }

  .filters_block_favorite_dv {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 2;
    bottom: -6px;
    right: 0;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 3s ease;
  }
  .filter_favorite_dv {
    margin: 5px 0 0 0;
  }

  .filter_favorite_dv:not(.filter_favorite_dv--active) {
    background-color: white;
  }

  .filter_favorite_dv.filter_favorite_dv--active {
    display: flex;
    order: 1;
    &::after {
      transform: rotate(-90deg);
      position: relative;
      top: -2px;
    }
  }
}


.filters_block_light {
  margin-top: 10px;
}

.filter_light {
  padding: 6px 14px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-color: $background;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 10px;
  &:first-of-type {
  margin-left: 0;
}
}

@include for-custom-width-from-to(0, $popupMobile)
{
  .filter_light {
    white-space: nowrap;
    font-weight: normal;
    &:last-of-type {
    }
  }

  .filters_container_light {
    margin-top: 20px;
    height: 40px;
    width: calc(100% + 20px);
    overflow: hidden;
  }
  .filters_block_light {
    margin-top: 0;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 18px;
    box-sizing: content-box;
  }

}

.filter_title_light {
  font-size: 13px;
}

.filters_container_temperature {
  @extend .filters_container_light;
}

.filters_block_temperature {
  @extend .filters_block_light;
}

.filter_temperature {
  @extend .filter_light;
}

.filter_title_temperature {
  @extend .filter_title_light
}




.filter_light--active,.filter_favorite_dv--active, .filter_temperature--active {
  background-color: $yellow;
  transition: background-color 0.3s ease;
}