doctype html
html
    head
        link(rel='stylesheet' href='styles.css')
    body
        h1 Hello World? bitch
        include ./../components/card/card
            script(src='scripts.js')