div.balloon(class=postfix ? 'balloon_' + postfix:false)
    div.balloon_container(class=postfix ? 'balloon_container_' + postfix:false)
        div.balloon_controller(class=postfix ? 'balloon_controller_' + postfix:false)
            div.balloon_js_container(class=postfix ? 'balloon_js_container_' + postfix:false)
            div.fake