div.arrows(class=postfix ? 'arrows_' + postfix:false)
    div.arrows__left(class=postfix ? 'arrows_left_' + postfix:false)
        +picture({name:'arrow_left'})
    div.arrows__right(class=postfix ? 'arrows_right_' + postfix:false)
        +picture({name:'arrow_left'})